@import './partial/main';
@import './partial/body';
@import './partial/header';
@import './partial/busqueda-activa';
@import './partial/seccion-1';
@import './partial/seccion-2';
@import './partial/footer';
@import './partial/seccion-1-alt';
@import './partial/gifo-max';
@import './partial/mediaquery1024';
@import './partial/busqueda-activa-desk';
@import './partial/sin-resultados-desk';
@import './partial/seccion-2-crear-gifo';

.img-box img {
    // width: 100%;
}

.btn {
    border: none;
    outline: none;
    background-color: #888;
    padding: 10px 30px;
    color: #fff;
    cursor: pointer;
    margin: 10px auto;
    &:hover {
        background-color: #111;
    }
}