footer {
    padding-top: 47px;
    padding-bottom: 23px;
    p.encabezado-footer {
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 25px;
    }
    .redes-sociales {
        text-align: center;
        padding-right: 35%;
        padding-left: 35%;
        margin-bottom: 48px;
        ul {
            display: flex;
            text-align: center;
            justify-content: space-between;
            align-items: center;
        }
    }
    p.pie-footer {
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        color: #000000;
        font-weight: 500;
    }
    body.dark & {
        p.encabezado-footer {
            color: #fff;
        }
        p.pie-footer {
            color: #fff;
        }
    }
}