.sliderGifMax {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 50px 385px 50px;
    padding: 50px 10%;
    div.close {
        grid-column: 3/4;
        grid-row: 1/2;
        justify-self: end;
    }
    div.left-slider {
        grid-column: 1/2;
        grid-row: 2/3;
        align-self: center;
        justify-self: center;
    }
    div.right-slider {
        grid-column: 3/4;
        grid-row: 2/3;
        align-self: center;
        justify-self: center;
    }
    div#DivImg1 {
        grid-column: 2/3;
        grid-row: 2/3;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    div.datos-gifo {
        display: flex;
        justify-content: space-between;
        grid-column: 2/3;
        grid-row: 3/4;
    }
    div {
        img.trendingImgToHide {
            display: none;
        }
    }
}