header {
    .container-flex {
        padding-top: 29px;
        padding-left: 5.9%;
        padding-right: 6.9%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 24.2px;
        .logo {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        p {
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            font-weight: 900;
            position: relative;
            top: 5px;
            right: 45px;
            color: #572EE5;
        }
        nav ul {
            opacity: 0;
            height: 0;
            background: rgba(87,46,229,0.90);
            position: absolute;
            /* color: white; */
            top: 100px;
            left: 0;
            width: 100%;
            height: 0%;
            display: flex;
            flex-direction: column;
            /* justify-content: space-between; */
            align-items: center;
            z-index: 3;
            li {
                padding-bottom: 15px;
                padding-top: 10px;
                font-family: 'Montserrat', sans-serif;
                font-size: 15px;
                color: #FFFFFF;
                font-weight: 600;
                /*border-bottom: 1px solid #b69f9f;*/
                a {
                    font-family: 'Montserrat', sans-serif;
                    font-size: 15px;
                    color: #FFFFFF;
                    font-weight: 600;
                    pointer-events: none;
                }
            }
            li.item-4 {
                display: none;
            }
            span.linea-divisoria{
                width: 15%;
                opacity: 0.5;
                border: 1px solid #FFFFFF;
            }
        }
        input[type="checkbox"] {
            opacity: 0;
            position: relative;
            z-index: 2;
            right: -18px;
        }

        input[type="checkbox"]:checked ~ ul {
            opacity: 1;
            height: 100%; //pasa de height 0 a lo que tenga de contenido
            li {
                a {
                    pointer-events: all;
                }
            }
        }
        
    }
    //Modificaciones para el modo nocturno
    body.dark & {
        background: #37383C;
        p {
            display: none;
        }
        ul {
            background: #000;
        }
    }
}