@media (min-width: 1024px) {
    //body
    body {
    }
    //------------HEADER--------------------------------
    header .container-flex {
        margin-bottom: 88.9px;
        label {
            display: none;
        }
        input#boton-menu {
            display: none;
        }
        nav ul {
            opacity: 1;
            height: auto;
            position: initial;
            background: #fff;
            display: grid;
            grid-template-columns: 130px 81px 71px 54px;
            grid-template-rows: 16px 16px;
            grid-column-gap: 50px;
            li.item-1 {
                grid-column: 1/2;
                grid-row: 1/2;  
                color: #572EE5;
                text-transform: uppercase;
                font-size: 13px;  
            }
            li.item-2 {
                grid-column: 2/3;
                grid-row: 1/2;    
            }
            li.item-3 {
                grid-column: 3/4;
                grid-row: 1/2;    
            }
            li.item-4 {
                display: block;
                grid-column: 4/5;
                grid-row: 1/2;    
            }
            li a {
                color: #572EE5;
                text-transform: uppercase;
                font-size: 13px;
            }
            body.dark & {
                background: #37383C;
            }
        }
        body.dark & {
            background: #37383C;
        }
    }
    //----------SECCION-1-------------------
    .seccion-1 {
        margin-bottom: 95px;
        h1 {
            font-family: 'Montserrat', sans-serif;
            font-size: 30px;
            color: #572EE5;
            text-align: center;
            padding-right: 25%;
            padding-left: 25%;
            margin-bottom: 31px;
        }
        div.imagen-seccion-1 {
            width: 25%;
        }
        div.buscador {
            padding-right: 30.9%;
            padding-left: 30.9%;
            margin-bottom: 73px;
            input[type="checkbox"] {
                top: 35%;
                right: 35%;
            }
            label {
                top: 32%;
                right: 34.5%;
            }
        }
        div.pie-seccion-1 {
            h3 {
                font-size: 18px;
            }
            p {
                padding-right: 0;
                padding-left: 0;
            }
        }
    }
    //------------seccion-1-alt----------------------
    .seccion-1-alt {
        margin-bottom: 190px;
        .galeria-imagenes {
            display: grid;
            grid-column-gap: 2%;
            padding-left: 10.8%;
            padding-right: 10.8%;
            grid-row-gap: 15px;
            grid-template-columns: repeat(4, 1fr);
            margin-bottom: 75px;
            grid-template-rows: repeat(3, 145px);
        }
        .galeria-imagenes.gifo {
            grid-template-rows: repeat(2, 210px);
        }
        .img-fav-sin-result {
            text-align: center;
            img {
                margin-bottom: 23.7px;
            }
            p {
                font-family: 'Montserrat', sans-serif;
                font-size: 22px;
                color: #50E3C2;
                font-weight: 700;
                padding-right: 25%;
                padding-left: 25%;
            }
        }
    }
    section.seccion-1.crear-gifos {
            display: grid;
            grid-template-columns: 26.1% 47.8% 26.1%;
            grid-template-rows: 390px;
            margin-bottom: 24px;
            position: relative;
            &::before{
                content: url(../../assets/pelicula.svg);
                position: absolute;
                bottom: -80px;
                right: 12%;
            }
            .img-camara-1 {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-left: 20%;
                .img-uno {
                    max-width: 100%;
                }
                .img-dos {
                    max-width: 100%;
                    position: relative;
                    bottom: 35px;
                }
            }
            .img-camara-2{
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                bottom: 42px;
            }
            .intrucciones {
                height: 100%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                border: 1px solid #572EE5;
                padding: 35px 7.2%;            
                p.parrafo-uno {
                    font-family: 'Montserrat', sans-serif;
                    font-size: 25px;
                    color: #572EE5;
                    font-weight: 700;
                    text-align: center;
                }
                p.parrafo-dos {
                    font-family: 'Roboto', sans-serif;
                    font-size: 16px;
                    color: #000000;
                    margin-bottom: 5px;
                }
                p.parrafo-tres {
                    font-family: 'Roboto', sans-serif;
                    font-size: 16px;
                    color: #000000;
                }
                .contenido-video-first {
                    width: 100%;
                    position: relative;
                    text-align: center;
                    img.imagen-principal {
                        max-width: 100%;
                    }
                }
                .contenido-video-second {
                    width: 100%;
                    position: relative;
                    text-align: center;
                    img.imagen-principal {
                        max-width: 100%;
                    }
                    &:before {
                        content: "Estamos subiendo tu GIFO";
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        background: #572EE5;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        opacity: 0.6;
                        font-family: 'Montserrat', sans-serif;
                        font-size: 15px;
                        color: #FFFFFF;
                        font-weight: 700;
                    }
                    &:after {
                        content: url(../../assets/loader.svg);
                        position: absolute;
                        left: 50%;
                        top: 30%;
                    }
                }
                .contenido-video-third {
                    width: 100%;
                    position: relative;
                    text-align: center;
                    img.imagen-principal {
                        max-width: 100%;
                    }
                    img.icono-descarga {
                        position: absolute;
                        top: 5px;
                        right: 10%;
                    }
                    img.icono-link {
                        position: absolute;
                        top: 5px;
                        right: 1.2%;
                    }
                    &:before {
                        content: "GIFO subido con éxito";
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        background: #572EE5;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        opacity: 0.6;
                        font-family: 'Montserrat', sans-serif;
                        font-size: 15px;
                        color: #FFFFFF;
                        font-weight: 700;
                    }
                    &:after {
                        content: url(../../assets/ok.svg);
                        position: absolute;
                        left: 50%;
                        top: 30%;
                    }
                }
            }
        }
        footer.footer {
            display: flex;
            padding-right: 10.8%;
            padding-left: 10.8%;
            p.encabezado-footer {
                flex-basis: 15%;
            }
            .redes-sociales {
                width: 35%;
                padding-right: 25%;
                padding-left: 0;
            }
            p.pie-footer {
                width: 50%;
                text-align: right;
            }
        }
    }

//------------seccion-1-crear-gifos----------------------
