section.seccion-1.busqueda-sin-resultado {
    span {
        margin-top: 74px;
        width: 30%;
        opacity: 0.5;
        border: 1px solid #9CAFC3;
        margin-bottom: 78px;
    }
    .ningun-resultado {
        h2 {
            font-size: 30px;
            color: #572EE5;
            font-family: 'Montserrat', sans-serif;
            margin-bottom: 109px;
            text-align: center;
        }
        .no-result-image {
            text-align: center;
            img {
                max-width: 100%;
            }
        }
        p {
            font-family: 'Montserrat', sans-serif;
            font-size: 22px;
            color: #50E3C2;
            margin-top: 29px;
            font-weight: 600;
        }
    }
}